@model IEnumerable<CatServiceModel>

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-secondary my-sm-3">@ViewBag.Title</h2>
<hr/>

<div class="container">
    <div class="row">
        <partial name="~/Views/Cats/_CatsAllPartial.cshtml"/>
    </div>
</div>

<p class="text-center">
    <a class="btn btn-secondary my-sm-3" asp-action="Add">Add New</a>
</p>