@model CatViewModel

@{
    ViewBag.Title = "Edit Cat";
}

<h2 class="text-center text-secondary my-sm-3">@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="" disabled="disabled">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" placeholder="">
                <span asp-validation-for="Age" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl"></label>
                <input asp-for="PhotoUrl" class="form-control" placeholder="">
                <span asp-validation-for="PhotoUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedName"></label>
                <input asp-for="BreedName" class="form-control" disabled="disabled" />
            </div>
            <div>
                <label asp-for="AdditionalInformation"></label>
                <input asp-for="AdditionalInformation" class="form-control" placeholder="" />
                <span asp-validation-for="AdditionalInformation" class="small text-danger"></span>
            </div>
            <p class="text-center my-sm-3">
                <input class="btn primary-color " type="submit" value="Save" />
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}